<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="/index.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Home Page</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    
    <div class="container">
        <h3>Add Data</h3>
        <form action='/post' method="post">
            <input type="text" placeholder="employee ID" name="empId" required>
            <input type="text" placeholder="name" name="name" required>
            <input type="number" placeholder="age" name="age" required>
            <input type="number" placeholder="salary" name="salary" required>
            <input type="text" placeholder="location" name="location" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <hr>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Location</th>
        </tr>
        <% data.forEach((item)=>{%>
            <form action="/<%=item._id%>" method="GET"> 
                <tr id="<%=item._id%>" >
                    <td id="empId"><%= item.empId%></td>
                    <td id="name"><%= item.name%></td>
                    <td id="age"><%= item.age%></td>
                    <td id="salary"><%= item.salary%></td>
                    <td id="location"><%= item.location%></td>
                    <td><button id="updateOrDelete" type="submit">Update/Delete</button></td>
                </tr>
            </form>
            
        <%})%>
    </table>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>