<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h4>Update your Data</h4>
        <form  method="post">
            <input type="text" placeholder="employee ID" name="empId" value="<%=data.empId%>" required>
            <input type="text" placeholder="name" name="name" value="<%=data.name%>" required>
            <input type="number" placeholder="age" name="age" value="<%=data.age%>" required>
            <input type="number" placeholder="salary" name="salary" value="<%=data.salary%>" required>
            <input type="text" placeholder="location" name="location" value="<%=data.location%>" required>
            <button type="submit" formaction='/update/<%=data.empId%>'>Update</button>
            <button type="submit" formaction='/delete/<%=data.empId%>'>Delete</button>
        </form>
    </div>
</body>
</html>